body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title {
    margin-top: 60px;
    background-color: #bb2019; /* Màu đỏ */
    color: #fff; /* Màu chữ */
    padding: 10px 20px; /* Khoảng cách nội dung từ lề */
    text-align: center; /* Căn giữa nội dung */
}
.container {
    margin: 50px 20px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative; /* Đặt vị trí tương đối */
}
.question {
    margin-bottom: 20px;
}
.options {
    margin-left: 20px;
}
#timer {
    position: absolute; /* Đặt vị trí tuyệt đối */
    top: 20px; /* Dính ở đỉnh */
    right: 20px; /* Dính ở bên phải */
    font-size: 18px; /* Kích thước font */
}
#submitBtn {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#submitBtn:hover {
    background-color: #0056b3;
}
