/* ----------------- Footer ---------------- */

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ad171c;
    padding-top: 10px;
}

#footer p {
    color: #fff;
    margin-bottom: 10px;
}

.disappear {
    display: none;
}